@{
	string MarkActive(string ctrl, string act = null)
	{
		var curCtrl = (string)ViewContext.RouteData.Values["Controller"];
		var curAct = (string)ViewContext.RouteData.Values["Action"];

		if( curCtrl == ctrl && (act == null || curAct == act) )
			return "active";
		return "";
	}
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	
	<title>Autonuoma - @ViewData["title"]</title>

	<script>
		var base64JsonSqlQueries = "@Html.Raw(ViewData["sql-queries"])";
	</script>

	<script src="@Url.Content("~/deps/dist/main.js")"></script>

	<script src="@Url.Content("~/deps-manual/index.js")"></script>
	<link href="@Url.Content("~/deps-manual/style.css")" rel="stylesheet"/>
	
	<script>
		var $ = window.__jQuery;
	</script>
</head>
<body>
	<div class="page-container">
		
		<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
			<div class="container-fluid">
				
				<a class="btn btn-outline-light btn-sm me-2" href="@Url.Action("Index", "Home")">Pagrindinis</a>

				
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarContent"
				>
					<span class="navbar-toggler-icon"></span>
				</button>

				
				<div class="container-fluid d-flex justify-content-center">
					<div class="collapse navbar-collapse" id="navbarContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a href="@Url.Action("Index", "Kovotojas")" class="@MarkActive("Kovotojas") nav-link">Kovotojai</a>
							</li>
							<li class="nav-item">
								<a href="@Url.Action("Index", "KovinioSportoSale")" class="@MarkActive("KovinioSportoSale") nav-link">Sporto salės</a>
							</li>
							<li class="nav-item">
								<a href="@Url.Action("Index", "Renginys")" class="@MarkActive("Renginys") nav-link">Renginiai</a>
							</li>
							<li class="nav-item">
								<a href="@Url.Action("Index", "Treneris")" class="@MarkActive("Treneris") nav-link">Treneriai</a>
							</li>
							<li class="nav-item">
								<a href="@Url.Action("Index", "SvorioKategorija")" class="@MarkActive("SvorioKategorija") nav-link">Svorio kategorijos</a>
							</li>
							<li class="nav-item">
								<a href="@Url.Action("Index", "KovosTaisykles")" class="@MarkActive("KovosTaisykles") nav-link">Kovos taisyklės</a>
							</li>
							<li class="nav-item">
								<a href="@Url.Action("Index", "KovosF2")" class="@MarkActive("KovosF2") nav-link">Kovos F1/F2</a>
							</li>
							<li class="nav-item">
								<a href="@Url.Action("Index", "KovosRaundoInfo")" class="@MarkActive("KovosRaundoInfo") nav-link">Kovos raundo info</a>
							</li>
							<li class="nav-item">
								<a href="@Url.Action("Index", "KovotojoSportoSaliuIstorija")" class="@MarkActive("KovotojoSportoSaliuIstorija") nav-link">Sportavimo istorija</a>
							</li>
						</ul>

						<ul class="navbar-nav justify-content-right mb-2 mb-lg-0"></ul>
					</div>
				</div>
			</div>
		</nav>

		
		<div class="main-content">
			@RenderBody()
		</div>

		
		<div class="page-footer">
			<footer>
				<p>&copy; KTU Informacijos Sistemų Katedra</p>
			</footer>
		</div>
	</div>
	
	
	@RenderSection("scripts", required: false)

	
	<script>
		$(document).ready(function () {
			$(".entity-list").DataTable({
				"autoWidth": true,
				language : {
					"decimal":        "",
					"emptyTable":     "Įrašų nėra",
					"info":           "Įrašai nuo _START_ iki _END_ iš _TOTAL_",
					"infoEmpty":      "0",
					"infoFiltered":   "(iš _MAX_ įrašų)",
					"infoPostFix":    "",
					"thousands":      ",",
					"lengthMenu":     "Puslapyje: _MENU_",
					"loadingRecords": "Vyksta duomenų įkėlimas...",
					"processing":     "Vyksta apdorojimas...",
					"search":         "Paieška:",
					"zeroRecords":    "Įrašų nerasta",
					"paginate": {
						"first":      "Pirmas",
						"last":       "Paskutinis",
						"next":       "Sekantis",
						"previous":   "Buvęs"
					},
					"aria": {
						"sortAscending":  ": rikiuoti didėjimo tvarka",
						"sortDescending": ": rikiuoti mažėjimo tvarka"
					}
				}
			});

			$(".date-picker").datetimepicker({ timepicker:false, format: 'Y-m-d' });
			$(".datetime-picker").datetimepicker({ format: 'Y-m-d h:i' });
		});
	</script>
</body>
</html>



